doctype html
//if IE 9
  html.lt-ie10(lang='en')
html.no-js(ng-app='troll', lang='en')
  head
      meta(charset='utf-8')
      meta(name='viewport', content='width=device-width, initial-scale=1.0')
      title <img>Troll
      link(rel='stylesheet', href='/vendor/foundation/css/normalize.css')
      link(rel='stylesheet', href='/vendor/foundation/css/foundation.css')
      link(href='/vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
      link(rel='stylesheet', href='/vendor/toastr/toastr.css')
      link(rel='stylesheet', href='/index.css')
      link(rel='stylesheet', href='views/crawler/crawler.css')
      link(href='assets/keyframes.css', rel='stylesheet')
      link(href='assets/style.css', rel='stylesheet')
      link(href='/views/showall/showall.css', rel='stylesheet')
      link(href='/vendor/angular-carousel/dist/angular-carousel.min.css', rel='stylesheet', type='text/css')
      script(src='/vendor/foundation/js/vendor/modernizr.js')


  body(ng-controller='UsersCtrl')
    include views/nav/nav
    .row
      .small-12.columns
        div(ui-view)


      footer.navbar-default.navbar-fixed-bottom
        .container
          .row
            .col-xs-12.foot(style='text-align: center')
              p(style='text-align: center;'): small Copyright &copy; 2014 Nashville Software School. All Rights Reserved.

      script(src='/vendor/jquery/dist/jquery.js')
      script(src='/vendor/foundation/js/foundation.min.js')
      script(src='/vendor/angular/angular.js')
      script(src='/vendor/angular-ui-router/release/angular-ui-router.js')
      script(src='/vendor/localforage/dist/localforage.js')
      script(src='/vendor/angular-localforage/dist/angular-localForage.js')
      script(src='/vendor/angular-touch/angular-touch.min.js')
      script(src='/vendor/angular-carousel/dist/angular-carousel.min.js')
      script(src='/vendor/underscore/underscore.js')
      script(src='/vendor/toastr/toastr.js')
      script(src='/vendor/amcharts/dist/amcharts/amcharts.js', type='text/javascript')
      script(src='/vendor/amcharts/dist/amcharts/serial.js', type='text/javascript')
      script(src='/config/toastr.js')
      script(src='/index.js')
      script(src='/models/user.js')
      script(src='/models/crawler.js')
      script(src='/models/message.js')
      script(src='/models/search.js')
      script(src='/views/users/users.js')
      script(src='/views/login/login.js')
      script(src='/views/register/register.js')
      script(src='/views/crawler/crawler.js')
      script(src='/views/nav/nav.js')
      script(src='/views/home/home.js')
      script(src='/views/messages/messages.js')
      script(src='/views/profile/profile.js')
      script(src='/views/showall/showall.js')
