//Foundation
script(src="/vendor/foundation/js/vendor/jquery.js")
script(src="/vendor/foundation/js/foundation/foundation.js")
script(src="/vendor/foundation/js/foundation/foundation.topbar.js")
script(src="/vendor/foundation/js/vendor/fastclick.js")
script(src="/vendor/foundation/js/foundation/foundation.alert.js")
script(src="/vendor/foundation/js/foundation/foundation.dropdown.js")
script(src="/vendor/foundation/js/foundation/foundation.tab.js")
script(src='/vendor/amcharts/dist/amcharts/amcharts.js')
script(src='/vendor/amcharts/dist/amcharts/serial.js')


script(src='/components/factories/user.js')
script(src='/components/factories/http-interceptor.js')
script(src='/components/directives/ns-nav/ns-nav.js')
