link(href='/vendor/foundation/css/foundation.css', rel='stylesheet')
link(href='/vendor/fontawesome/css/font-awesome.css', rel='stylesheet')
link(href='/vendor/toastr/toastr.css', rel='stylesheet')

link(href='/index.css', rel='stylesheet')
link(href='/components/directives/ns-nav/ns-nav.css', rel='stylesheet')
  
link(href='assets/keyframes.css', rel='stylesheet')
link(href='assets/style.css', rel='stylesheet')
