nav.top-bar(data-topbar, full-width, role="navigation")
   ul.title-area
      li.name
        h1
          a(href='#')
            img#logo(src='/assets/img/imgTROLL.png')
      li.toggle-topbar.menu-icon
         a(href="/#/")
            span
   section.top-bar-section
      ul.right(ng-show='user.username === "anon"')
         li: a.navButton.wobble-vertical(ui-sref='register') Register
         li: a.navButton.wobble-vertical(ui-sref='login') Login
      ul.right(ng-show='user.username != "anon"')
         li: a.navButton.wobble-vertical(ui-sref='crawler') Search
         li: a.navButton.wobble-vertical(ui-sref='profile') Profile
         li: a.navButton.wobble-vertical(ui-sref='users') Users
         li: a.navButton.wobble-vertical(ng-click='logout()') Logout
