#show-contain(ng-controller='ShowCtrl')
  //- .panel  
  //-   h4 Show
  //- h4.animated.fadeInLeft {{name}}
  div.row
    div.small-5.large-4.columns.panel
      h4.animated.fadeInLeft {{username}}
      .picture(style='border-radius: 25%; background-image: url("{{profilePic}}"); background-repeat: none; background-size: cover; height: 300px; width: 300px;')
      .takePicButton.pop 
        p Take Picture!
    div.small-1.large-1.columns
    div.small-6.large-7.columns.panel.bio
      h5 Age: {{age}}
      h5 Location: {{location}}
      h5 E-mail: {{email}}
      
  button.ts(ng-click='toggleStuff()') Toggle Crawler
  .stuffContent(ng-hide='hideStuff', novalidate)
    div.row
      div.small-4.columns
        form(role='form', novalidate, ng-hide='hideStuff', name='stuffForm')
          .form-group
            label(for='web') Web
            input.form-control.stuffContent#web(ng-model='weapon.name', type='text', name='web', autofocus)
      div.small-4.columns 
        a.button.secondary.success.alert.crawl(href='#') Crawl
      div.small-4.columns 
        form(role='form', novalidate, ng-hide='hideStuff', name='stuffForm')
          .form-group
            label(for='web') Depth
            input.form-control.stuffContent#web(ng-model='weapon.name', type='text', name='web', autofocus)

  #middle
    #content
      #show
        .img1.slide
          img(src='http://d.asset.soup.io/asset/3834/7869_bfa2_550.jpeg', alt='England')
        .img2.slide
          img(src='http://8.asset.soup.io/asset/2542/0024_29da.jpeg', alt='image2')
          p.desc
            | Mike is Awesome Mike is Awesome Mike is Awesome Mike is Awesome Mike is Awesome Mike is Awesome
        .img3.slide
          img(src='http://missmosquito.files.wordpress.com/2010/12/winter_tale_by_valcom2the.jpg', alt='image3')
          p.desc
            | Mike is Awesome Mike is Awesome Mike is Awesome Mike is Awesome Mike is Awesome Mike is Awesome Mike is Awesome Mike is Awesome Mike is Awesome Mike is Awesome Mike is Awesome
        .img4.slide
          img(src='http://s.cdaction.pl/obrazki/1730t_Battlefield_BC2_beta.jpg', alt='image4')
          p.desc
            strong Battlefield: Bad Company 2
            | Mike is Awesome Mike is Awesome Mike is Awesome Mike is Awesome Mike is Awesome Mike is Awesome Mike is Awesome
        .img5.slide
          img(src='http://2.asset.soup.io/asset/2200/7682_1abb_550.jpeg', alt='image5')
          p.desc
            strong MIKE!
            | is awh summmmmm..
        .img6.slide
          img(src='http://viralpirate.com/wp-content/uploads/2014/09/stormtroopers.png', alt='image6')
          p.desc

    // middle end
    .clear

  video#video
  button(ng-click='takePhoto()') Take photo
  canvas#canvas
  img#photo(ng-model='userPhoto')
  button(ng-click='savePic()') Save Pic?

  h2 {{user.photo}}

  .row
    .small-12.columns
      include charts
          
